<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Docfy</title>

  <link rel="stylesheet" href="styles.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
  <div class="auth-wrapper">
    <h1>Docfy</h1>
    <form action="dashboard.html" method="get">
      <input type="email" name="email" placeholder="Digite seu e-mail">
      <input type="password" name="password" placeholder="Digite sua senha">
      <button type="submit">Entrar</button>
      <a href="signup.html">Criar minha conta</a>
    </form>
  </div>
</body>
</html>
